{# Form #}
{{ craft.simpleMailer.getFormOpen(formConfig.get('form'), formConfig.get('formAttr'))|raw }}

	<div class="{{ formConfig.get('messageSentWrapperClass') }}"{% if not craft.session.getFlash(formConfig.get('form') ~ '_Sent') %} style="display: none;"{% endif %}>
		<p>{{ formConfig.get('messageSentMessage') }}</p>
	</div>

	{# Inputs loop #}
	{% for input in formConfig.get('inputs') %}

		{# Fieldset #}
		<fieldset
			{% for attrKey, attr in formConfig.get('fieldsetAttr') %}
			{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
			{% endfor %}
		>

			{# Label #}
			{% if formConfig.get('labels') %}
				<label
					{% if input.get('labelAttr').for is not defined %}
					for="{{ input.get('name') }}"
					{% endif %}
					{% for attrKey, attr in formConfig.get('labelAttr') %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
				>
					{{ input.get('label') }}
				</label>
			{% endif %}{# /Label #}

			{# Show correct input type #}
			{% if input.get('type') == 'select' %}
				<select
					name="{{ input.get('name') }}"
					{% if input.get('attr').id is not defined %}
					id="{{ input.get('name') }}"
					{% endif %}
					{% for attrKey, attr in input.get('attr') %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
					{% if input.get('required') %}
					required
					{% endif %}
				>
					{% for valueKey, value in input.get('values') %}
					<option
						value="{{ valueKey }}"
						{% if input.get('value') == valueKey %}
						selected
						{% endif %}
					>
						{{ value }}
					</option>
					{% endfor %}
				</select>
			{% elseif input.get('type') == 'textarea' %}
				<textarea
					name="{{ input.get('name') }}"
					{% if input.get('attr').id is not defined %}
					id="{{ input.get('name') }}"
					{% endif %}
					{% for attrKey, attr in input.get('attr') %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
					{% if input.get('required') %}
					required
					{% endif %}
				>{{ input.get('value') }}</textarea>
			{% else %}
				<input
					name="{{ input.get('name') }}"
					value="{{ input.get('value') }}"
					type="{{ input.get('type') }}"
					{% if input.get('attr').id is not defined %}
					id="{{ input.get('name') }}"
					{% endif %}
					{% for attrKey, attr in input.get('attr') %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
					{% if input.get('required') %}
					required
					{% endif %}
				>
			{% endif %}{# /Show correct input type #}

			<div
				class="{% if input.get('errorWrapperClass') %}{{ input.get('errorWrapperClass') }}{% else %}{{ formConfig.get('errorWrapperClass') }}{% endif %}"
				{% if not input.get('hasError') %}
				style="display: none;"
				{% endif %}
			>
				{% if input.get('hasError') %}{{ input.get('errorMessage') }}{% endif %}
			</div>

		</fieldset>{# /Fieldset #}

	{% endfor %}{# /Inputs loop #}

	{# Submit fieldset #}
	<fieldset
		{% for attrKey, attr in formConfig.get('fieldsetAttr') %}
		{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
		{% endfor %}
	>
		<input
			type="submit"
			{% if formConfig.get('submitAttr').value is not defined %}
			value="Submit"
			{% endif %}
			{% for attrKey, attr in formConfig.get('submitAttr') %}
			{{ attrKey }}="{{ attr }}"
			{% endfor %}
		>
	</fieldset>{# /Submit fieldset #}

{{ craft.simpleMailer.getFormClose()|raw }}{# /Form #}
