{# Form #}
{{ craft.simpleMailer.getFormOpen(formConfig.form, formConfig.formAttr)|raw }}

	<div class="{{ formConfig.messageSentWrapperClass }}"{% if not craft.session.getFlash(formConfig.form ~ '_Sent') %} style="display: none;"{% endif %}>
		<p>{{ formConfig.messageSentMessage }}</p>
	</div>

	{# Inputs loop #}
	{% for input in formConfig.inputs %}

		{# Fieldset #}
		<fieldset
			{% for attrKey, attr in formConfig.fieldsetAttr %}
			{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
			{% endfor %}
		>

			{# Label #}
			{% if formConfig.labels %}
				<label
					{% if formConfig.labelAttr.for is not defined and input.labelAttr.for is not defined %}
					for="{{ input.name }}"
					{% endif %}
					{% if input.labelAttr|length %}
					{% for attrKey, attr in input.labelAttr %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
					{% else %}
					{% for attrKey, attr in formConfig.labelAttr %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
					{% endif %}
				>
					{{ input.label }}
				</label>
			{% endif %}{# /Label #}

			{# Show correct input type #}
			{% if input.type == 'select' %}
				<select
					name="{{ input.name }}"
					{% if input.attr.id is not defined %}
					id="{{ input.name }}"
					{% endif %}
					{% for attrKey, attr in input.attr %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
					{% if input.required %}
					required
					{% endif %}
				>
					{% for valueKey, value in input.values %}
					<option
						value="{{ valueKey }}"
						{% if input.value == valueKey %}
						selected
						{% endif %}
					>
						{{ value }}
					</option>
					{% endfor %}
				</select>
			{% elseif input.type == 'textarea' %}
				<textarea
					name="{{ input.name }}"
					{% if input.attr.id is not defined %}
					id="{{ input.name }}"
					{% endif %}
					{% for attrKey, attr in input.attr %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
					{% if input.required %}
					required
					{% endif %}
				>{{ input.value }}</textarea>
			{% else %}
				<input
					name="{{ input.name }}"
					value="{{ input.value }}"
					type="{{ input.type }}"
					{% if input.attr.id is not defined %}
					id="{{ input.name }}"
					{% endif %}
					{% for attrKey, attr in input.attr %}
					{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
					{% endfor %}
					{% if input.required %}
					required
					{% endif %}
				>
			{% endif %}{# /Show correct input type #}

			<div
				class="{% if input.errorWrapperClass %}{{ input.errorWrapperClass }}{% else %}{{ formConfig.errorWrapperClass }}{% endif %}"
				{% if not input.hasError %}
				style="display: none;"
				{% endif %}
			>
				{% if input.hasError %}{{ input.errorMessage }}{% endif %}
			</div>

		</fieldset>{# /Fieldset #}

	{% endfor %}{# /Inputs loop #}

	{# Submit fieldset #}
	<fieldset
		{% for attrKey, attr in formConfig.fieldsetAttr %}
		{{ attrKey }}{% if attr != '' %}="{{ attr }}"{% endif %}
		{% endfor %}
	>
		<input
			type="submit"
			{% if formConfig.submitAttr.value is not defined %}
			value="Submit"
			{% endif %}
			{% for attrKey, attr in formConfig.submitAttr %}
			{{ attrKey }}="{{ attr }}"
			{% endfor %}
		>
	</fieldset>{# /Submit fieldset #}

{{ craft.simpleMailer.getFormClose()|raw }}{# /Form #}
